<nav class="menu">
    <div class="logo">
        <p>{{nombreTexto}}</p>
    </div>
    <div class="user">

    </div>
    <div class="btn__menu" (click)="cambiarBoton()">
        <div class="hamburgue__top" [ngClass]="menu"></div>
        <div class="hamburgue__mid" [ngClass]="menu"></div>
        <div class="hamburgue__bottom" [ngClass]="menu"></div>
    </div>
    <div class="menu__hambuguesa" [ngClass]="menu">
        <ul>
            <li>
                <a routerLink="/Inicio" class="link">Inicio</a>
            </li>
            <li>
                <a routerLink="/Productos" class="link">Productos</a>
            </li>
            <li>
                <a routerLink="/PreguntasFrecuentes"  class="link">Preguntas frecuentes</a>
            </li>
            <li>
                <a (click)="contacto()" class="link">Contacto</a>
            </li>
            <li *ngIf="user">
                <a routerLink="Administracion" class="link">Configurar pagina</a>
            </li>
            <li *ngIf="!user">
                <a (click)="abrirIniciarSesion()" class="link">InicioSesion</a>
            </li>
            <li>
                <a *ngIf="user" (click)="logout()" class="link">Cerra sesión</a>
            </li>
        </ul>
    </div>
</nav>
