// Contenedor general
.contenedor__general{
    width: 90%;
    display: flex;
    height: fit-content;
    margin: 80px auto;
}
// Contenedor de las preguntas
.container__preguntas{
    height: fit-content;
    margin: auto;

}