<!-- Contenedor de card -->
<div class="container__error404">
    <!-- Imagen -->
    <div class="container__image">
        <img src="../../../assets/Illustraciones/error 404.svg" alt="">
    </div>
    <!-- Card con informacion -->
    <div class="container__info">
        <h1>Pagina no encontrada</h1>
        <div>
            <p class="fw-bold text-404">Error 404</p>
            <button class="btn btn-primary btn_inicio" routerLink="/Inicio">volver al inicio</button>
        </div>
    </div>
</div>