
<!-- Carousel -->
<swiper [config]="configCarousel">
    <ng-template swiperSlide *ngFor="let imagen of imagenes">
        <div class="carousel">
            <img [src]="imagen.imagen" alt="">
        </div>
    </ng-template>
</swiper>

<app-mosaico></app-mosaico>

<!-- Carousel de productoss -->
<p-carousel [value]="productos" [numVisible]="4" [numScroll]="1" [circular]="true">
    <ng-template let-producto pTemplate="item">
        <div>
            <div class="producto">
                <div class="container__image">
                    <img [src]="producto.img" alt="" style="width: 200px;height: 200px; object-fit: cover;">
                </div>
                <div class="producto_info">
                    <p>{{producto.nombre}}</p>
                    <span>{{producto.precio | currency}}</span>
                </div>
                <button class="btn btn-primary btn-carousel" (click)="abrirProducto(producto.id)">ver producto</button>
            </div>
        </div>
    </ng-template>
</p-carousel>

