
<!-- Carousel -->
<swiper [config]="configCarousel">
    <ng-template swiperSlide *ngFor="let imagen of imagenes">
        <div class="carousel">
            <img [src]="imagen.imagen" alt="">
        </div>
    </ng-template>
</swiper>

<app-mosaico></app-mosaico>

<!-- Card de sobre nosotros -->
<!-- <div class="aboutUs"> -->
    <!-- Imagen -->
    <!-- <div class="container__image">
        <img src="../../../assets/Illustraciones/Quienes somos.svg" alt="">
    </div> -->

    <!-- Informacion -->
    <!-- <div class="container__info">
        <h1>Quienes somos?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eveniet quos omnis veniam in nisi,
            commodi
            reprehenderit culpa minus dignissimos expedita voluptates ab, corporis temporibus magnam tenetur. Totam
            minima quidem corrupti incidunt a repellendus quis rerum ratione doloremque consequatur praesentium
            provident, quibusdam quaerat suscipit inventore repellat voluptates iusto asperiores quo.
        </p>
    </div> -->
<!-- </div> -->

<!-- Carousel de productoss -->
<p-carousel [value]="productos" [numVisible]="3" [numScroll]="1" [circular]="true">
    <ng-template let-producto pTemplate="item">
        <div>
            <div class="producto">
                <div class="container__image">
                    <img [src]="producto.img" alt="" style="width: 200px;height: 200px;">
                </div>
                <div class="producto_info">
                    <p>{{producto.producto}}</p>
                    <span>{{4000+producto.precio | currency}}</span>
                </div>
                <button class="btn btn-primary btn-carousel">ver producto</button>
            </div>
        </div>
    </ng-template>
</p-carousel>