

<div class="container__general">
    <div class="container__producto">
        <div class="container__image">
            <img [src]="producto.img" alt="">
        </div>
        <div class="container__info">
            <div>
                <h1>{{producto.nombre}}</h1>
                <p>Categoria: {{producto.categoria}}</p>
                <span>Precio {{producto.precio | currency}}</span>
            </div>
            <div class="descripcion">
                <p>{{producto.descripcion}}</p>
            </div>
        </div>
    </div>
</div>
