// centrar el contenido
.container__general {
    display: flex;
    margin: auto;
    width: 90%;
    height: 90vh;
}

// propiedades generales del card
.container__producto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    width: 100%;
    height: 500px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #d8d8d8;
}
// Contenedor de la imagen
.container__image {
    width: 100%;
    height: 460px;
}
.container__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Contenedor de la informacion
.container__info {
    display: grid;
    grid-auto-rows: 2fr 3fr;
    padding: 20px;
}
.descripcion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
