.contenedor__modal {
    width: 600px;
    height: 450px;
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100%;
    }
    .p-inputtextarea {
        height: max-content;
    }
}
// Todos los contenedores de inputs
.container__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// Contenedor del input de descripcion
.container__textArea {
    grid-column: 1/-1;
    height: 100%;
}
.container__textArea input {
    resize: none;
}

// Contenedor de boton
.container__button {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

// Contenedor del input imagen
.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container__image input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}
.container__image img {
    border-radius: 4px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

// Sacar las flechas de input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
