<div>
    <div class="container__carousel">
        <!-- Carousel -->
        <swiper [config]="configCarousel">
            <ng-template swiperSlide *ngFor="let imagen of imagenes">
                <div class="carousel">
                    <img [src]="imagen.imagen" alt="">
                </div>
            </ng-template>
        </swiper>
    </div>

    <!-- Adminitracion de imagenes -->
    <div class="container__admin__carousel">

        <!-- Header -->
        <div class="container__header">
            <span class="header__span">Imagenes</span>
            <button class="btn btn-success" (click)="addImagen()">Agregar imagen <i class="pi pi-fw pi-plus"></i></button>
        </div>

        <div class="container__body">
            <div *ngFor="let imagen of imagenes" class="container__imagen__item">
                <img [src]="imagen.imagen" alt="">

                <!-- Contenedor de los botones de edicion -->
                <div class="container__buttons">
                    <button class="btn btn-danger" (click)="deleteImagen(imagen.id)">Eliminar imagen <i class="pi pi-fw pi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>