<section class="mosaico">
    <!-- Primera imagen -->
    <div class="primer__imagen">
        <img src="../../../assets/imagenes/quinta-imagen.jpg" alt="">
    </div>
    
    <!-- Segunda imagen -->
    <div class="segunda__imagen">
        <img src="../../../assets/imagenes/segunda-imagen.png" alt="">
    </div>

    <!-- Tercera imagen -->
    <div class="tercer__imagen">
        <img src="../../../assets/imagenes/primera-imagen.jpg" alt="">
    </div>

    <!-- Cuarta imagen -->
    <div class="cuarta__imagen">
        <img src="../../../assets/imagenes/tercer-imagen.png" alt="">
    </div>

    <!-- Quinta imagen -->
    <div class="quinta__imagen">
        <img src="../../../assets/imagenes/cuarta-imagen.jpg" alt="">
    </div>
</section>