<footer class="footer">

    <!-- Menu de navegacion -->
    <div class="menu">
        <div  class="a__container">
            <a routerLink="Inicio">Inicio</a>
        </div>
        <div class="a__container">
            <a routerLink="Productos">Producto</a>
        </div>
        <div class="a__container">
            <a routerLink="">Preguntas frecuentes</a>
        </div>
    </div>

    <!-- Redes sociales -->
    <div class="redesSociales">
        <div *ngFor="let dato of datos">
            <a href="">
                <i class="fab fa-{{dato.id}} {{dato.id}}" href=""></i>
            </a>
        </div>
        <!-- <a href="">
            <i class="fab fa-whatsapp whatsapp" href=""></i>
        </a>
        <a href="">
            <i class="fab fa-instagram instagram"></i>
        </a> -->
    </div>

    <!-- Nombre del negocio -->
    <p class="nombreNegocio" (click)="assssss()">asd</p>
</footer>