.contenedor{
    display: flex;
    width: 100%;
    height: 90vh;
    margin: auto;

}
.contenedor_formulario{
    width: 600px;
    height: 400px;
    margin: auto;
    background: #8e9;
}
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.formulario input{
    width: 330px;
}